/*IDs*/
#computer{
	background-color: #D3D1D4;
	color: black;
	width: 300px;
	height: 200px;
	margin: auto;
	margin-top: 10px;
	text-align: center;
	border: 2px solid black;
	border-radius: 3px;
}
#end{
	background-color: black;
	width: 150px;
	height: 50px;
	color: white;
	margin: 5px;
	border-radius: 3px;
}
#flip{
	background-color: black;
	width: 150px;
	height: 50px;
	color: white;
	margin: 5px;
	display: inline-block;
	border-radius: 3px;
}
#game{
	background-color: #D3D1D4;
	color: black;
	width: 600px;
	height: 600px;
	margin: auto;
	text-align: center;
	border-radius: 3px;
}
#player{
	background-color: #D3D1D4;
	color: black;
	width: 300px;
	height: 200px;
	margin-top: 10px;
	margin: auto;
	text-align: center;
	border: 2px solid black;
	border-radius: 3px;
}

#post{
	width: 1000px;
	padding: 15px;
	margin: auto;
	text-align: center;
	background-color: #4A2560;
	position: relative;
}
#start{
	background-color: black;
	width: 150px;
	height: 50px;
	color: white;
	margin: 5px;
	display: inline-block;
	border-radius: 3px;
}

/*Classes*/
.footnav{
	height: 30px;
	width: 100px;
	color: white;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	float:right;
	position: relative;
	margin-top: 120px;
}
.nav{
	height: 30px;
	width: 100px;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	float:right;
	position: relative;
	margin-top: 120px;
}

/*Containers*/
body{
	background-image: url("../images/body.jpg");
	background-color: black;
	background-position: center top;
	background-repeat: no-repeat;
	font-family: 'Oswald', sans-serif;
	color: white;
}
footer{
	height: 150px;
  	width: 100%;
  	position: relative;
  	margin-top: 5em;
  	clear: both;
}
header{
  	height: 220px;
  	width: 100%;
  	background-color: #4A2560;
  	position: relative;
  	border: 2px solid black 0.5;
  	margin-bottom: 5em;
  	border-radius: 4px;
}

/*Link and Hover*/
div a:link{
	text-align: right;
	text-decoration: none;
	color: white;
	background-size: 100px 30px;
}
div a:visited{
	color: #527DE5;
	background-size: 100px 30px;
}
div a:hover{
	color: white;
	font-size: 20px;
	border-radius-right: 10px;
	border-radius-left: 10px; 
	background-size: 100px 30px;
}