body{
	background-color: black;
	font-family: 'Oswald', sans-serif;
}
header{
  	height: 150px;
  	width: 100%;
  	background-color: #4B00BF;
  	position: relative;
  	border: 2px solid black;
  	margin-bottom: 5em;
  	border-radius: 4px;
}
/*#content{
	width: 100%;
  	background-color: #FFA214;
  	margin: auto;
  	margin-top: 5em;
  	border: 2px solid black;
  	border-radius: 4px;
}*/
footer{
	height: 150px;
  	width: 100%;
  	background-color: #4B00BF;
  	position: relative;
  	margin-top: 5em;
  	clear: both;
}
a:link{
	text-align: right;
	text-decoration: none;
	color: black;
}
a:hover{
	text-decoration: underline;
	color: white;
	height: 30px;
	width: 100px;
	border-radius-right: 10px;
	border-radius-left: 10px; 
	background-color: black;
	margin-top: 120px;

}
a:visited{
	color: red;
}
h3{
	text-align: center;
	font-weight: bolder;
}
h4{
	text-align: center;
	font-weight: bold;
}
h5{
	text-align: center;
	font-weight: lighter;
}
#nav1{}
.profile{
	width: 100px;
	height: 100px;
	margin: 10px; 
}
#post{
	width: 1000px;
	padding-left: 5px;
	padding-right: 5px;
	margin: auto;
	text-align: center;
	background-color: rgba(121, 113, 127, 0.5);
	position: relative;
}
#about{
	width: 40%;
	height: 480px;
	margin: 20px;
	padding: 10px;
	float: left;
	background-color: rgba(121, 113, 127, 0.5);
}
#project{
	width: 40%;
	height: 480px;
	margin: 20px;
	float: right;
	background-color: rgba(121, 113, 127, 0.5);
	display: inline-block;
}
#technical{
	width: 40%;
	height: 470px;
	margin: 20px;
	float: left;
	background-color: rgba(121, 113, 127, 0.5);
	text-align: inherit;
}
#cultural{
	width: 40%;
	height: 470px;
	float: right;
	margin: 20px;
	background-color: rgba(121, 113, 127, 0.5);
	text-align: inherit;
}
.center{
	text-align: center;
	width: inherit;
}
p{
	text-align: center;
	width: inherit;
	color: white;
}
.nav{
	height: 30px;
	width: 100px;
	border: 1px solid black;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	float:right;
	position: relative;
	margin-top: 120px;
}
.footnav{
	height: 30px;
	width: 100px;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	float:right;
	position: relative;
	margin-bottom: 120px;
}